# Ignore everything:
*

# Don't ignore these files:
!.gitignore
!.zshrc

# Don't ignore these folders and their files:
!mac-setup/
!mac-setup/*.md

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*
